* {
    margin: 0px;
    padding: 0px;
}



p {
  text-align: justify;
  font-family: "Aleo", serif;
  font-size: 20px;
  backdrop-filter: blur(10px);
  text-align: center;
  color: white;
  line-height: 25px;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Aleo", serif;
  position: absolute;
  top: 167px;
  left: 400px ; 
}

#eu {
  position: absolute;
  margin: auto;
  border-radius: 20%;
  left: 700px;
  top: 250px;
  z-index: 10;
}

#nome {
  color: white;
}

#habtexto {
  text-align: justify;
  font-family: "Aleo", serif;
  font-size: 20px;
  backdrop-filter: blur(10px);
  text-align: center;
  color: pink;
  line-height: 25px;
}

.habilidades {
  
}

body {
  background-image: url(fundo2.png);
  max-width: 2000px;
}

#home {
  
}

#informapessoal {
  
}

#amo {
  
}

a {
  text-decoration: none;
  color: white;
  font-size: 35px;
}

.link {
  
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 15%;
  font-weight: bold;
}

#descriçao {
  position: absolute;
    top: 600px;
  z-index: 3;
  left: 400px;
}

